@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row; 
    height: 100%;
}
.intro-header {
    font-weight: lighter;
    font-size: 1.2em;
}
.text-wrap {
    background-color: #161616;
    width: fit-content;
    border-radius: 50px;
    box-shadow: inset 3px 3px 7px rgba(22, 22, 22, 0.48), inset -3px -3px 7px #272727;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
.left {    
    padding: 2vh;
    color: rgb(200, 200, 200);
    background-color: rgb(14, 13, 13);
    width: 25%;
    font-family: monospace;
}
.full-name {
    font-size: 2.2em;
    text-align: center;
    padding-top: 2vh;
}
.img-profile {
    position: relative;
    width: 100%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-face {
    border-radius: 50%;
    width: auto;
    height: 30vh;
    box-shadow: 0 2px 35px 0 rgba(255, 255, 255, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.bio-container {
    margin: 2vh;
    border-radius: 20px;
    background: #262626;
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px 0 rgba(31, 31, 31, 0.4);
    padding: 2vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.bio-text {
    color: rgb(0, 219, 117);
    line-height: 1.5em;
}
.contacts {
    display: flex;
    flex-direction: row;
}
.contact-icon {
    background-color: #ebebeb;
    border: 5px solid #3a3a3a;
    border-radius: 10px;
    padding: 0.8vh;
    width: 2vh;
    height: auto;
}
.right {  
    font-family: monospace;  
    color: #fff;
    width: 100%;
    background-color: #272822;
}
.conclusion {
    margin: 2vh;
    text-align: left;
}
.contact {
    color: rgb(6, 103, 230);
}   
.resume {
    color:rgb(157, 88, 226);
}
.work-header {
    color: #F92672;
    margin-bottom: 4vh;
}
.award-header {
    color: #F92672;
}
.body-header {
    color: #FD971F;
    font-weight: lighter;
    font-size: 1.2em;
}
.body-text {
    color: #66D9EF;
}
.des {
    background-color: rgb(17, 17, 17);
    padding: 25px;
    border-radius: 10px;
}
.place {
    display: flex;
    flex-direction: column;
    height: 3vh;
    padding: 8px;
    padding-right: 2vh;
    padding-left: 2vh;
    justify-content: center;
    border-radius: 10px;
    margin-right: 0.5vh;
    background-color: rgb(17, 17, 17);
}
.work-container {
    padding-top: 5vh;
    padding-left: 10vh;
    padding-bottom: 0;
}
.award-container {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: #000;
    padding-top: 2vh;
    padding-left: 10vh;
}
.work-header {
    font-weight: lighter;
}
.award-header {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.4em;
    font-weight: lighter;
    color: #fff;
}
.award-text {
    font-family: 'Anonymous Pro', monospace;
    font-weight: lighter;
    color: #fff;
    font-size: 0.9em;
}
.award-title {
    font-size: 0.9em;
    font-family: 'Anonymous Pro', monospace;
    color: #fff;
}
.award-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.one-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vh;
}
.work-img {
    background-color: rgb(14, 13, 13);
    margin-right: 0.5vh;
    border-radius: 10px;
    padding: 8px;
    width: auto;
    height: 3vh;
}
.body-title {
    color: #A6E22E;
    font-size: 1.2em;
    font-weight: lighter;
}
.work-card {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.multi-line {
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
}